body {
  margin: 0;
}

#webpage{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100px 100% 60px;
  grid-template-areas:  "logo head_topic option"
                        "topic_list chatlog extra"
                        "topic_list interface extra"
}

#logo {
  grid-area: logo;
}

#head_topic {
  grid-area: head_topic;
  display: grid;
  place-items: center;
}

#option {
  grid-area: option;
}

#topic_list {
  grid-area: topic_list;
}

#chatlog {
  grid-area: chatlog;
}

#interface {
  grid-area: interface;
  display: grid;
  grid-template-columns: 99% 0%;
  grid-template-rows: 50% 50%;
  grid-template-areas:  "input_text input_text"
                        "btn_send btn_refresh"
}

#extra {
  grid-area: extra;
}

.web_head {
  background-color: red;
}

#topic_list, #extra {
  background-color: salmon
}

#chatlog {
  background-color: lightgray;
}

#interface {
  background-color: darkred
}

#logo, #option {
  display: grid;
  place-items: center;
}

img {
  width: 80px;
  width: 80px;
}

#topic_list > div {
  padding: 3px 6px;
}
.topic {
  background-color: orange;
}
.topic_selected {
  background-color: red;
}

#chatlog > div {
  padding: 2px;
  width: fit-content;
}
div.chat-left {
  text-align: left;
  background-color: #f27134;
  margin: 5px 15px 5px 5px;
}
div.chat-right {
    text-align: right;
    background-color: #c00832;
  margin: 5px 5px 5px 15px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

#interface>* {
  margin: 5px;
}
#input_text {
  grid-area: input_text;
  width: 100%;
}
#btd_send {
  grid-area: btn_send;
  width: 100%;
}
#btd_refresh {
  grid-area: btn_refresh;
  width: 100%;
}