<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TU Chatbot - Login</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <form method="post" action="\login\">
            {% csrf_token %}
            <div style="background-color: #c00832; text-align: center; padding: 5px;">
                Login
            </div>
            <div style="background-color: #f27134;">
                <table style="padding: 5px;">
                    <tr>
                        <td>
                            <label for="input_username">Username: </label>
                        </td>
                        <td>
                            <input type="text" name="username" id="input_username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="input_password">Password: </label>
                        </td>
                        <td>
                            <input type="password" name="password" id="input_password">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="display: flex; justify-content: center;">
                                <input type="submit" value="Login">
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
            <div style="text-align: center;">
                <a href="\create_user"> I don't have an account </a>
            </div>
            <div style="text-align: center;">
                <a href="\"> Use the website as a Guest </a>
            </div>
        </form>
    </div>
</body>
</html>